@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
h1, h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
p, a, h2, h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
*{
    padding: 0px;
    margin: 0px;
}
input{
    opacity: 0;
}


/* skygge  */

.bog, .Knapper, .bog1, .bog2, .bog3, .bog4{
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3)
}

.bog, .bog1, .bog2, .bog3, .bog4{
    inline-size: 50%;
}




/* body grid */
header{
    grid-area: header;
    
}
main{
    grid-area: main;
    display: grid;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    
}
body{
    background-color: #fff7ff;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
}




/*  */
.Fantasy, .Fantasy1{
    color: #fe7d4e;
}
span{
    color: black;
}







/* nav i header */
.menuicon{
    height: 5vh;
    width:  5vh;
    object-fit: contain;
}
nav{
    padding: 1rem;
    display: flex;
}

.Fantasy{
    grid-area: Fantasy;
}
.menu{
    grid-area: menu;

}

.menu1{
    padding: 1rem;
}

.Opret{
    text-align:center;
    padding: 1rem;
    font-size: 1.4rem;
    color: #fe7d4e;
    background-color: #f7d4c7;
    border-radius: 5rem;
}






/* hamburger */
.hamburger{
    display: flex;
    
}
#hamburger ~ .menu{
    display: none;
}

#hamburger:checked ~ .menu{
    display: flex;
    background-color: #fefdf9;
    flex-direction: column;
}
#hamburger ~ .hamburger{
    display: flex;
}


/* article og img i header*/
.nav{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem;
}
.hero{
    inline-size: 100%;
    position: relative;
}
article{
    color: white;
    position: absolute;
}
.p{
    padding: 1rem;
    font-size: 70%;
}



/* main */



/* section1 */
.nav4 h1{
    padding: 1rem;
}

.nav4{
    justify-content: space-evenly;
}

.arrow{
    inline-size: 2rem;
}

/* section2 */

.section2 nav{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}


/* section3 */

.section3{
    background-color: #fefdf9;
}

.section3 nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section3 nav h4 img{
    inline-size: 1.5rem;
}

/* section4 */

.section4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fef2f2;
}

.section4 a{
    text-align:center;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: #fe7d4e;
    border-radius: 5rem;
}

.section4 nav{
    justify-content: space-around;
}

.section4 .p{
    justify-content: center;
}

/* section5 */

.section5{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Cover{
    inline-size: 100%;
}

.section5 nav{
    position: absolute;
    left: 3rem;
}

.Knapper1{

    margin: auto;
    text-align:center;
    padding: 1rem;
    color: white;
    background-color: #fe7d4e;
    border-radius: 5rem;
}



/* footer */

.section6, .section7{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* section6 */

.section6 .Fantasy{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

footer h4{
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}


/* section7 */

.section6, .section7{
    background-color: #fefdf9;
}

.section7 nav{
    
    flex-direction: row;
    padding: 0rem;
    inline-size: 2rem;
}

.footerimg{
    inline-size: 100%;
}





@media screen and (min-width: 1024px){
    
.section1{
    grid-area: section1;
}

.section2{
    grid-area: section2;
}
.section3{
    grid-area: section3;
}
.section4{
    grid-area: section4;
}
.section5{
    grid-area: section5;
}

main{
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
    "section1 section1"
    "section2 section2"
    "section3 section4"
    "section5 section5"
    ;
}





/* tmenu i header */

.menuicon{
    display: none;
}
.hamburger{
    display: none;
}

#hamburger ~ .menu {
    display: flex;
}
.Fantasy{
    grid-area: Fantasy;
    display: flex;
    place-items: center;
    padding-left: 3rem;
    font-size: 2rem;
}

.Opret{
    width: 8rem;
}

.tmenu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0rem;
    padding-top: 1rem;
}

.menu{
    place-items: center;
}

.menu1{
    padding: 0.5rem;
}








/* nav i header */

.hero{
    display: block;
    height: 45rem;
}

.article{
    padding: 15rem;
}

.p{
    font-size: 1.7rem;
}

.nav{
    padding: 0rem;
}





/* mian */



/* section1 */

.section1{
    padding-top: 4rem;
}

.Secondhand{
    grid-area: secondhand;
    display: flex;
    justify-content: center;
    place-items: center;
}

.Vis{
    grid-area: vis;
    display: flex;
    justify-content: center;
    place-items: center;
}


.nav4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    " secondhand . . vis "
    ;
}



/* section2 */

.section2{
    padding-bottom: 4rem;
    inline-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



/* section3 */

.section3{
    display: flex;
}

.nav2{
    justify-content: center;
    place-items: center;
}

.nav2 p{
    padding: 1rem;
}




/* section4 */

.img{
    grid-area: img;
}

.hp{
    grid-area: hp;
}

.jk{
    grid-area: jk;
}

.p1{
    grid-area: p;
    font-size: large;
}

.bog4{
    inline-size: 60%;
}

.Knapper{
    grid-area: Knapper;
    display: flex;
    justify-content: center;
    place-items: center;
    width: 13rem;
}
.section4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "img hp"
    "img For"
    "img jk"
    "img p"
    "img Knapper"
    ;
}



/* section5 */

.section5 nav{
    left: 40rem;
    font-size: large;
}

.section5{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* footer */

.section6{
    grid-area: section6;
    padding-left: 10rem;
}

.section7{
    grid-area: section7;
}

.section8{
    grid-area: section8;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "section6 section7 section8"
}

}